@model IEnumerable<Models.Job>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Maintain Job Schedule</h1>
<br />
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Models.Job item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobName)
                </td>
                <td>
                    @Html.ActionLink("List", "List", new { id = item.JobId })
                </td>
            </tr>
        }
    </tbody>
</table>